@tailwind base;
@tailwind components;
@tailwind utilities;

hr {
  border: 0.5px solid #999;
  margin: 20px;
}

* {
  color: white;
  font-family: 'Inter', Sans-Serif;
  scroll-behavior: smooth;
}

/* Mouse-over effects */
.slider:hover {
  opacity: 1; /* Fully shown on mouse-over */
}

input[type="range"]::-webkit-slider-runnable-track {
  background: #fff;
}

.pagination {
  display: flex;
}

.pagination * {
  padding: 6px 8px;
}
